<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Models</title>
    <!-- Corrected href to link CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='predict.css') }}">
</head>

<body>
    <div class="container">
        <!-- Header with introduction -->
        <header>
            <h1>Welcome to our Platform</h1>
            <p> Predict Molecular Properties of all Molecules</p>
        </header>

        <!-- Form to submit SMILES -->
        <section class="form-section">
            <h2>Enter a SMILE String</h2>
            <form action="/features/predict" method="post">
                <div class="input-group">
                    <input type="text" name="smiles" placeholder="Enter a SMILES string" required />
                </div>
                <div class="input-group">
                    <label for="use_model">Select Model:</label>
                    <select name="use_model" id="use_model" required>
                        <option value="1">Model 1</option>
                        <option value="2">Model 2</option>
                    </select>
                </div>
                <button type="submit" class="btn-submit">Submit</button>
            </form>
        </section>

        <!-- Results Section -->
        {% if prediction %}
        <section class="results-section">
            <h2>Predicted Results</h2>
            <p>Here are the predicted properties based on the SMILES string you submitted:</p>
            <ul class="prediction-list">
                <li><strong>BBBP (Brain Barrier):</strong> {{ prediction['bbbp'] }}</li>
                <li><strong>BACE (Alzheimer's Risk):</strong> {{ prediction['bace'] }}</li>
                <li><strong>CTOX (Toxicity):</strong> {{ prediction['ctox'] }}</li>
                <li><strong>FDA (Approval Chance):</strong> {{ prediction['fda'] }}</li>
                <li><strong>ESOL (Solubility):</strong> {{ prediction['esol'] }}</li>
                <li><strong>FreeSolv (Solubility Prediction):</strong> {{ prediction['freesolv'] }}</li>
                <li><strong>Lipophilicity (Fat Solubility):</strong> {{ prediction['lipophilicity'] }}</li>
                <li><strong>QM7 (Molecular Data):</strong> {{ prediction['qm7'] }}</li>

            </ul>
        </section>
        {% endif %}

        <!-- Back to Main Page Button -->
        <section class="back-to-main">
            <a href="{{ url_for('mainpage.usermainpage') }}" class="back-button">Back to Main Page</a>
        </section>
    </div>
</body>

</html>